* {
    margin: 0;
    padding: 0;
    }

header {
  width: 100%;
  background-color: #1a1e1f;
  justify-content: center;
  display: flex;
  position: fixed;
  z-index: 10;
  overflow: hidden;
}

.header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 80%;
    background-color: #1a1e1f;
    padding: 20px 0px;
  }

  .header a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header-right {
    list-style: none;
    display: flex;
    justify-content: space-between;
    a:hover {
        color: rgb(0,174,243);
    }
  }

  img{
    padding-top: 89px;
    width: 100%;
  }
  
  .container1 {
    position: relative;
    text-align: center;
    color: white;
  }

  .text1 {
    position: absolute;
    top: 34%;
    left: 25%;
    font-size: 50px;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }

  .text2 {
    position: absolute;
    top: 55%;
    left: 36%;
    font-size: 30px;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }

  .container2 {
    background-color: rgb(43,43,43);
    margin: auto;
    color: white;
    padding: 50px 20px
  }

.text3 {
    position: center;
    font-size: 30px;
    margin-left: 140px;
    margin-right: auto;
    width: 800px;
    padding: 20px 10px;
}

.container2 a {
    color: rgb(0,174,243);
    text-decoration: none;
    font-size: 25px;
    margin-left: 150px;
}

.container2 a:hover {
    color: rgb(170, 170, 170);
}  

.container3 {
  background-color: #161616;
    margin: auto;
    padding: 10px;
    color: white;
    padding: 50px 20px
}

.courses {
  margin-left: 150px;
  font-size: 28px;
}

.flex-container {
  display: flex;
}

.grid-container {
  width: 80%;
  margin-left: 140px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-top: 70px;
}

.grid-item {
  height: 450px;
  width: 90%;
  background-color: #161616;
  border-radius: 5px;
  border: 1px solid rgb(85, 85, 85);
}

.grid-item img {
  padding: 0;
  width: 100%;
  height: 40%;
}

.name {
  position: relative;
  font-size: 25px;
  padding-left: 25px;
  padding-top: 25px;
}

.registration_details {
  position: relative;
  font-size: 15px;
  padding-left: 25px;
  padding-top: 25px;
}

.course_details {
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 110px;
  color: rgb(0,174,243);
}

.high_course_details {
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 83px;
  color: rgb(0,174,243);
}