* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  top: 0;
  opacity: 80%;
  background-color: #1a1e1f;
  justify-content: center;
  display: flex;
  position: sticky;
  z-index: 10;
  overflow: hidden;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 80%;
  background-color: #1a1e1f;
  padding: 20px 0px;
}

.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  list-style: none;
  display: flex;
  justify-content: space-between;
  a:hover {
    color: rgb(0, 174, 243);
  }
}

.main_photo {
  display: block;
  width: 100%;
}

.container1 {
  position: relative;
  text-align: center;
  color: white;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 23.5%;
  font-size: 50px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.text2 {
  position: absolute;
  top: 65%;
  left: 35%;
  font-size: 30px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.container2 {
  background-color: rgb(43, 43, 43);
  margin: auto;
  color: white;
  padding: 50px 20px;
}

.text3 {
  font-size: 30px;
  margin-right: auto;
  padding: 20px 10px;
}

.container2 a {
  color: rgb(0, 174, 243);
  text-decoration: none;
  font-size: 25px;
}

.container2 a:hover {
  color: rgb(170, 170, 170);
}

.container3 {
  background-color: #161616;
  margin: auto;
  padding: 10px;
  color: white;
  padding: 50px 20px;
}

.courses {
  font-size: 28px;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  padding: 10px;
  padding-top: 70px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  height: 416px;
  background-color: #161616;
  border-radius: 5px;
  border: 1px solid rgb(85, 85, 85);
}

.grid-item a:hover {
  color: rgb(0, 104, 145);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 25px;
}

.grid-item .photo {
  padding: 0;
  width: 100%;
  height: 40%;
}

.name {
  position: relative;
  font-size: 25px;
}

.registration_details {
  position: relative;
  font-size: 15px;
  padding-top: 25px;
}

.course_details {
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  color: rgb(0, 174, 243);
}

.course_details_wrapper {
  display: flex;
}

.course_details_wrapper .arrow {
  color: #00AEF3;
}

.container4 {
  width: 100%;
  height: 363px;
  background-color: #2b2b2b;
}

.project_partners {
  color: #F4F4F4;
  font-size: 30px;
  padding-top: 40px;
  padding-left: 200px;
}

.container5 {
  width: 100%;
  height: 484px;
  background-color: #161616;
}

.questions {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 80%;
  padding-left: 250px;
  padding-top: 80px;
}

.questions h2 {
  color: #F4F4F4;
}

.questions a {
  color:#00AEF3;
  text-decoration: none;
  font-size: 25px;
}

.questions a:hover {
  color: rgb(170, 170, 170);
}

.container6 {
  width: 100%;
  height: 228px;
  background-color: #2b2b2b;
}

.company_images {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.tbc_image {
  height: 30px;
  width: auto;
  padding-left: 200px;
}

.social_image {
  padding-right: 200px;
}

.container6 p {
  color: #F4F4F4;
  padding-left: 200px;
  padding-top: 15px;
}

.partners {
  position: relative;
  padding-inline: 50px;
}

.slider-wrapper {
  position: relative;
  height: 224px;
}

.slider_arrow {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.slider_arrow:hover {
  opacity: 0.6;
}

.slider_arrow.right {
  left: unset;
  right: 100px;
  transform: rotate(180deg) translateY(60%);
}

.partners div {
  position: absolute;
  opacity: 0;
  top: 80px;
  left: 0;
  width: 1000px;
  display: flex;
  padding-inline: 400px;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.partners div img {
  padding-inline: 100px;
}

.partners .active {
  opacity: 1;
}

.slider-tracker {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.slider-tracker li {
  margin-inline: 8px;
  width: 6px;
  height: 6px;
  background: #fff;
  opacity: 0.6;
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}

.slider-tracker li.active {
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 960px) {
  .text3 {
    margin-left: 140px;
  }

  .container2 a {
    margin-left: 150px;
  }

  .courses {
    margin-left: 150px;
  }

  .grid-container {
    margin-left: 140px;
    width: 80%;
    grid-template-columns: auto auto auto;
  }

  .grid-item {
    width: 90%;
  }
}
