* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #1A1E1F;
  color: #F4F4F4;
}

button {
  color: #F4F4F4;
  background: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
}

header {
  width: 100%;
  top: 0;
  background-color: rgba(26, 30, 31, 0.8);
  justify-content: center;
  display: flex;
  position: sticky;
  z-index: 10;
  overflow: hidden;
  transition: 0.2s;
}

header.isHeaderHidden {
  transform: translateY(-100%);
}

.header-items nav {
  position: fixed;
  width: 300px;
  background-color: #222222;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 12;
  overflow: hidden;
  transform: translateX(100%);
}

.header-items nav.isOpened {
  transform: translateX(0);
  transition: 0.5s;
}

.container {
  position: relative;
  width: 100%;
  max-width: 980px;
  padding-inline: 16px;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

.header-items {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  padding-block: 18px;
}

.header-items a.logo-link {
  padding: 0;
}

.header-items .logo {
  width: 130px;
}

.menu li a {
  display: block;
  font-size: 14px;
  color: white;
  width: 100%;
  text-align: center;
  text-align: right;
  /* padding-inline: 24px; */
  padding-right: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.menu {
  padding-top: 80px;
}

.menu li {
  padding-right: 16px;
  padding-bottom: 40px;
  min-width: 200px;
}

.menu li.active a,
.menu li a:hover {
  color: rgb(0, 174, 243);
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 32px;
  z-index: 20;
}

.burger-icon > div {
  width: 50%;
  height: 4px;
  background-color: #F4F4F4;
  border-radius: 5px;
  transition: 0.3s;
}

.burger-icon > div:nth-child(2) {
  width: 100%;
}

.burger-icon.closeIcon > div:nth-child(1) {
  position: relative;
  transform: rotate(45deg);
  left: 2px;
  top: 8px;
}

.burger-icon.closeIcon > div:nth-child(2) {
  width: 100%;
  transform: rotate(-45deg);
}

.burger-icon > div:last-child {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

.burger-icon.closeIcon > div:last-child {
  transform: translateX(-100%) rotate(45deg);
  width: 55%;
  bottom: 8px;
}

.close-icon {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 32px;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  cursor: pointer;
}

.close-icon > div {
  width: 100%;
  height: 4px;
  background-color: #AAAAAA;
  border-radius: 5px;
}

.close-icon > div:first-child {
  position: relative;
  top: 50%;
  transform: rotate(45deg);
}

.close-icon > div:last-child {
  position: relative;
  bottom: 39%;
  transform: rotate(-45deg);
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 11;
}

.overlay.isOpened {
  display: block;
}

.hero-block {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 217px;
  object-fit: cover;
  object-position: 50% 50%;
}

.hero-data {
  display: flex;
  flex-direction: column;
  padding-block: 50px;
  font-weight: bold;
  text-align: left;
}

.hero-title {
  font-size: 28px;
}

.hero-subtitle {
  font-size: 26px;
  line-height: 1.6em;
}

.info-block-wrapper {
  padding-block: 32px 50px;
  background-color: rgb(43, 43, 43);
}

.info-text {
  padding-bottom: 32px;
  font-size: 18px;
  line-height: 1.8em;
  color: white;
}

.learn-more {
  color: #00AEF3;
  font-size: 20px;
  font-weight: bold;
}

.learn-more:hover {
  color: #AAAAAA;
}

.courses-wrapper {
  background-color: #161616;
}

.courses {
  color: white;
  padding: 30px 20px;
}

.courses-title {
  color: #F4F4F4;
  font-weight: normal;
  font-size: 28px;
}

.courses-list {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  padding-block: 30px 10px;
}

.course-item {
  display: flex;
  flex-direction: column;
  color: #F4F4F4;
  background-color: #161616;
  border-radius: 5px;
  border: 1px solid rgb(85, 85, 85);
}

.course-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 25px;
}

.course-image {
  padding: 0;
  width: 100%;
  height: 160px;
  border-radius: 5px 5px 0 0;
}

.course-title {
  font-size: 18px;
}

.course-status {
  padding-block: 25px;
  font-size: 18px;
}

.course-link {
  display: flex;
}

.course-link-text {
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
  color: rgb(0, 174, 243);
}

.course-link-text:hover {
  color: rgb(0, 104, 145);
}

.project-partners {
  width: 100%;
  background-color: #2b2b2b;
  padding-bottom: 36px;
  border-block: 1px solid rgb(85, 85, 85);
}

.project-partners-title {
  padding-block: 20px 40px;
  color: #F4F4F4;
  font-size: 30px;
  font-size: 24px;
  font-weight: normal;
}

.partners-slider {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider_arrow {
  display: none;
}

.partner-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 270px;
  row-gap: 20px;
  align-items: center;
  grid-row-start: 1;
}

.slider-tracker {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.slider-tracker li {
  margin-inline: 8px;
  width: 6px;
  height: 6px;
  background: #fff;
  opacity: 0.6;
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}

.slider-tracker li.active {
  opacity: 1;
}

.faq-block {
  padding-block: 50px;
  background-color: #161616;
}

.faq-heading {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.faq-block h3 {
  color: #F4F4F4;
  font-size: 24px;
  font-weight: normal;
}

.faq-block a {
  color: #00AEF3;
  font-size: 20px;
  font-weight: bold;
}

.all-questions-desktop {
  display: none;
}

.all-questions-mobile {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.faq-block a:hover {
  color: #AAAAAA;
}

.question {
  border-bottom: 1px solid rgb(53, 49, 49);
}

.question button {
  width: 100%;
  display: flex;
  padding-block: 20px;
  justify-content: space-between;
  align-items: center;
  color: #F4F4F4;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

.questions .arrow {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.question .arrow.isExpanded {
  transform: rotate(180deg);
}

.answer {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.5s;
}

.answer.isExpanded {
  grid-template-rows: 1fr;
}

.answer > div {
  grid-row: 1 / span 2;
  overflow: hidden;
}

.footer-container {
  display: grid;
  row-gap: 24px;
  grid-template-columns: 1fr 1fr;
  padding: 50px 50px 40px;
}

.footer-container.desktop {
  display: none;
}

.company_images {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.tbc_image,
.copyright,
.terms-and-conditions {
  font-size: 18px;
  grid-column: 1 / span 2;
}

.terms-and-conditions {
  color: #fff;
}

.terms-and-conditions-block {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 300px;
  transform: translateX(100%);
  background: #2b2b2b;
  z-index: 12;
}

.terms-and-conditions-block.isOpened {
  transform: translateX(0);
  transition: 0.5s;
}

.terms-and-conditions-block .close-icon {
  left: unset;
  transform: none;
}

.terms-container {
  padding: 50px;
}

.terms-container:first-child {
  display: flex;
  justify-content: flex-end;
  padding: 15px 30px;
}

.tbc_image {
  height: 30px;
}

.contact-button {
  max-width: 200px;
  background: #46aff3;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}

.contact-button:hover {
  color: black;
  background-color: #D5D5D5;
}

.social_images {
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
}

.footer-container p {
  color: #F4F4F4;
}

@media only screen and (min-width: 459px) {
  .hero-data {
    padding-block: 65px 75px;
  }
}

@media only screen and (min-width: 600px) {
  .courses-list {
    grid-template-columns: auto auto;
  }

  .container {
    padding-inline: 40px;
  }
}

@media only screen and (min-width: 980px) {
  header.isHeaderHidden {
    transform: none;
  }

  .container {
    padding-inline: 0;
    width: 80%;
  }

  .burger-icon {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .overlay.isOpened {
    display: none;
  }

  .overlay.isOpened.terms {
    display: block;
  }

  .header-items {
    padding-block: 22px;
  }

  .close-icon {
    display: none;
  }

  .terms-and-conditions-block {
    width: 500px;
  }

  .terms-and-conditions-block .close-icon {
    display: block;
  }

  .header-items nav {
    position: relative;
    width: auto;
    background: none;
    height: unset;
    right: unset;
    top: unset;
    z-index: unset;
    overflow: unset;
    transform: translateX(0);
  }

  .header-items nav.isOpened {
    transform: translateX(0);
  }

  .menu li {
    padding: 0;
    min-width: unset;
  }

  .menu li a {
    display: block;
    font-size: 14px;
    color: white;
    width: 100%;
    text-align: center;
    padding-inline: 24px;
    text-decoration: none;
    line-height: 25px;
  }

  .header-items .logo {
    width: 182px;
  }

  .hero-image {
    height: 352px;
  }

  .hero-data {
    row-gap: 21px;
    padding-block: 95px 135px;
  }

  .hero-title {
    font-size: 42px;
  }

  .hero-subtitle {
    font-weight: normal;
    font-size: 34px;
  }

  .info-block-wrapper {
    padding-top: 46px;
  }

  .info-text {
    padding-bottom: 32px;
    font-size: 28px;
    line-height: 1.6em;
    color: white;
  }

  .learn-more {
    color: #00AEF3;
    font-size: 20px;
    font-weight: bold;
  }

  .courses-title {
    color: #DBDBDB;
    padding-bottom: 40px;
  }

  .courses-list {
    grid-template-columns: auto auto auto;
  }

  .course-info {
    row-gap: 60px;
  }

  .course-status {
    font-size: 14px;
  }

  .faq-block {
    padding-block: 105px;
  }

  .all-questions-mobile {
    display: none;
  }

  .all-questions-desktop {
    display: block;
  }

  .footer-container.mobile {
    display: none;
  }

  .footer-container.desktop {
    display: block;
  }

  .footer-container .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-button {
    padding: 10px 30px;
  }

  .copyright {
    margin-bottom: 20px;
  }

  .footer-container .flex-between:first-child {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1199px) {
  .slider.container {
    width: 100%;
    max-width: unset;
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .project-partners {
    border: none;
  }

  .project-partners-title {
    padding-top: 40px;
  }

  .slider.container {
    max-width: 1010px;
    width: 83%;
  }

  .slider_arrow {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .slider_arrow:hover {
    opacity: 0.6;
  }

  .slider_arrow.left {
    transform: translateX(-80px);
  }

  .slider_arrow.right {
    transform: translateX(80px) rotate(180deg);
  }

  .partners-slider {
    padding-block: 50px;
  }

  .partners-slider .active {
    opacity: 1;
    transform: none;
  }

  .partner-slide {
    width: auto;
    min-height: 95px;
    grid-column-start: 1;
    flex-direction: row;
    opacity: 0;
    transition: 1s;
  }
}
